<header class="intro-header">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
              <br><br><br>
              <h1 class="header-text-blur text-center">Rotten Mangoes</h1>
              <hr class="small-hr">
              </div>
              <h1 class="header-text-blur text-center small">Your go-to site for movie reviews</h1>
          </div>
      </div>
  </div>
</header>


<div class= "container"> 
  <br><br>
    <button id="show-form" class="btn-link center-block"> Submit a new movie! </button>
  <div id="new-movie-form" class="hidden">
    <%= form_for @movie, html: {multipart: true} do |f| %>
      <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :release_date %><br>
        <%= f.date_field :release_date %>
      </div>
      <div>
        <%= f.label :director %><br>
        <%= f.text_field :director %>
      </div>
      <div>
        <%= f.label :runtime_in_minutes %><br>
        <%= f.number_field :runtime_in_minutes %>
      </div>
      <div>
        <%= f.label :poster_image_url %> <br>
        <%= f.file_field :poster_image_url %>
      </div>
      <div>
        <%= f.label :remote_poster_image_url_url, "OR use url" %><br>
        <%= f.text_field :remote_poster_image_url_url %>
      </div>
      <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </div>
      <div>
        <%= f.submit "Submit" %> 
      </div>
    <% end %>
  </div> <br>

  <hr>
  <div id="movies">
    <%= render @movies %> <!-- collection weird stuff going on -->
  </div>

</div>