<h2> Profile of <%= @user.full_name %>! </h2>
<h4> Email: <%= @user.email %> </h4>
<% puts @user.reviews.size %>
<% @user.reviews.each do |review| %>
  <h5> <%= link_to review.movie.title, movie_path(review.movie) %> </h5>
  <p><%= review.text %></p>
  <p><%= review.rating_out_of_ten %>/10</p>
<% end %>